<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="{{product.productImage}}" alt="{{product.productName}}" class="img-fluid w-100">
    </div>
    <div class="col-6">
        <h3>{{product.productName}}</h3>
        <p>{{product.price | currency:'BDT '}}</p>
        <div class="d-flex justify-content-start align-items-center">
            <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2"
    style="cursor: pointer; font-size: 2em;"></i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" 
                style="cursor: pointer; font-size: 2em;"></i>
            <button (click)="addItemToBakset()" class="btn btn-outline-secondary ml-4">Add to Cart</button>
        </div>
    </div>
        <div class="row mt-5">
      <div class="col-12 ml-3">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

